<!DOCTYPE html>
<html lang="en">
  <head>
    <title>News Articles!</title>
  </head>

  <body>
    <% articles.each do |row| %>
      <% article_title %> - <% @article_url %> - <% article_description %>
    <% end %>
  </body>
</html>
